
.close-container{
  display: flex;
  justify-content: end; 
  align-items: center;
  align-self: flex-end;
  width: 10%;
  height: 5%;
  cursor: pointer;
  position: relative;
}

.leftright{
  display: flex;
  height: 8%;
  width: 10px;
  position: absolute;
  background-color:  #73acf1;
  border-radius: 30%;
  margin-top: 8%;
  margin-left: 20%;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height:8%;
  width: 10px;
  position: absolute;
  background-color:  #73acf1;
  border-radius: 30%;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
  margin-top: 8%;
  margin-left: 20%;
  display: flex;
}

label{
  color: #9099AA;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 7px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  transition: all .3s ease-in;
  opacity: 0;
  align-self: flex-start;
}
.close{
  margin-top: 20px;
  margin-right: 10%;
  margin-bottom:15%;
  height: 25%;
  width: 45%;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #9acfe4;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #9acfe4;
}
.close-container:hover label{
  opacity: 1;
}

.intro-container {
  width:100%;
  height:30%;
  display:flex;
  position: relative;
  flex-direction: column;
  align-self: auto;
  align-items: start;
  margin-inline-start: 10%
  
}
.title {
  position: absolute;
  display: flex;
  margin-bottom: 10%;
  font-size: 30px;
  color: #1d2945;
  font-weight: bold;
  font-family: 'oswald', sans-serif;
  letter-spacing: 0px
}

.description {
  margin-top: 22%;
  position: absolute;
  display: flex;
  font-size: 12px;
  color: #9099aa;
  font-family: 'Work Sans', sans-serif;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255,255,255,0.5);
   
  }

  .modal {
    position: absolute;
    top: 25%;
    left: 35%;
    right: 35%;
    bottom: 18%;
    background-color: rgb(255,255,255);
    border-radius: 0.5%;
    border: rgb(200,200,200);
    box-shadow: 5px 5px 15px 5px rgb(0,0,0,0.03);

    
  
  }

  .animate-bottom {
    animation: animatebottom 0.4s;
  }
  
  @keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0;
    }
  
    to {
      bottom: 10;
      opacity: 1;
    }
  }

.form-container {
    display:flex;
    width:100%;
    height:100%;
    align-items: center;
 
    justify-content: center;
    
}

.form {
    display: flex;
    flex-direction: column;
    align-self: auto;
    
    align-content: space-between;
    width:100%;
    height:100%;

}

.input {
  padding: .5rem;
  font-size: 14px;
  width: 40%;
  display: block;
  border-radius: 4px;
  border: 1px solid #cbd0dc;
  background-color: #fafcff  ;
  margin-bottom: 4%;
  margin-inline-start: 10%;
  color: #1d2945;
  
}

.long-input {
  padding: .5rem;
  font-size: 14px;
  width: 40%;
  padding-bottom: 10%;
  display: block;
  border-radius: 4px;
  border: 1px solid #cbd0dc;
  background-color: #fafcff  ;
  margin-bottom: 4%;
  margin-inline-start: 10%;
  color: #1d2945;
}
::placeholder {
  color: #9099aa;
  font-family: "work sans", sans-serif;
}
input:focus {
  border-color: #9acff4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgb(0,0,0,0 );
  outline: none;
}


.submit-button {
  margin-inline-start: 10%;
  max-width: 150px;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #73acf1;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  align-self: flex-start;
  margin-top: 8%
}

.submit-button:hover {
  background-color: #9acff4;
}

.submit-button:active {
  background-color: #b6dcf8;
}
